RewriteEngine On

RewriteBase /

ErrorDocument 404 /error.html
ErrorDocument 401 /error.html
ErrorDocument 500 /error.html

RewriteRule ^trang-chu.html$ index.php [L]

RewriteRule ^du-an.html$ index.php?controller=1 [L]
RewriteRule ^du-an-trang-([0-9]+)\.html$ index.php?controller=1&page=$1 [L]

RewriteRule ^lien-he.html$ index.php?controller=lienhe [L]

RewriteRule ^tin-tuc.html$ index.php?controller=tintuc [L]
RewriteRule ^tin-tuc-trang-([0-9]+)\.html$ index.php?controller=tintuc&page=$1 [L]

RewriteRule ^tuyen-dung.html$ index.php?controller=tuyendung [L]
RewriteRule ^gioi-thieu.html$ index.php?controller=gioithieu [L]

RewriteRule ^du-an-dau-tu.html$ index.php?controller=duan&type=dautu [L]
RewriteRule ^du-an-dau-tu-trang-([0-9]+)\.html$ index.php?controller=duan&type=dautu&page=$1 [L]

RewriteRule ^du-an-gia-tot.html$ index.php?controller=duan&type=giatot [L]
RewriteRule ^du-an-gia-tot-trang-([0-9]+)\.html$ index.php?controller=duan&type=giatot&page=$1 [L]

RewriteRule ^du-an-moi.html$ index.php?controller=duan&type=moi [L]
RewriteRule ^du-an-moi-trang-([0-9]+)\.html$ index.php?controller=duan&type=moi&page=$1 [L]

RewriteRule ^du-an-tai-tp-hcm.html$ index.php?controller=duan&type=noithanh [L]
RewriteRule ^du-an-tai-tp-hcm-trang-([0-9]+)\.html$ index.php?controller=duan&type=noithanh&page=$1 [L]

RewriteRule ^du-an-ngoai-tp-hcm.html$ index.php?controller=duan&type=ngoaithanh [L]
RewriteRule ^du-an-ngoai-tp-hcm-trang-([0-9]+)\.html$ index.php?controller=duan&type=ngoaithanh&page=$1 [L]

RewriteRule ^duan-([a-zA-Z0-9-]+)-([0-9]+)\.html$ index.php?controller=duan&id=$2 [L]
RewriteRule ^tintuc-([a-zA-Z0-9-]+)-([0-9]+)\.html$ index.php?controller=tintuc&id=$2 [L]
