
body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino-Kaku-Gothic-ProN","ヒラギノ角ゴ-ProN-W3","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic","sans-serif";
    background-color: #ff8600;
    color: #404040;
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.formError {
    left: auto !important;
    right: 0;
}

/* Nav lang */
#navLang {
    background: #dfe0df;
    overflow: hidden;
}

#navLangContainer {
    margin: 0 10px;
}

#navLang a,
#navLang span {
    display: inline-block;
    width: auto;
    padding: 8px 0;
    float: right;
    line-height: 26px;
    color: #404040;
    outline: none;
    border: none;
    text-decoration: none;
}
#navLang span {
    padding: 8px 5px;
}

#navLang a.active {
    color: #ff8600;
}

#navLang a.navFacebook {
    float: left;
    padding-left: 25px;
    color: #3b5998;
    background-image: url(../img/landing/facebook2.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 18px;
}

/* Section 1 */
#section1 {
    width: 100%;
    height: 0;
    padding-bottom: 66.67%;
    margin: 0 auto;
    background-image: url(../img/landing/section1.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
body.en #section1 {
    background-image: url(../img/landing/section1_en.png);
}
body.es #section1 {
    background-image: url(../img/landing/section1_es.png);
}

#section1_1,
#section1_2 {
    display: block;
    width: 46.67%;
    margin-left: 10.67%;
    color: #fff;
    font-size: 80%;
    overflow: hidden;
}

#section1_1 {
    font-size: 140%;
    font-weight: bold;
    padding-top: 15px;
}
body.en #section1_1 br {
    display: none;
}
body.es #section1_1 br {
    display: none;
}

@media (min-width: 750px) {
    #section1_1 {
        font-size: 400%;
        padding-top: 70px;
    }
    body.en #section1_1 {
        font-size: 260%;
    }
    body.es #section1_1 {
        font-size: 260%;
    }
}

@media (max-width: 440px) {
    /* Nexus 6 */
    #section1_1 {
        font-size: 230%;
        padding-top: 25px;
    }
    body.en #section1_1 {
        font-size: 150%;
    }
    body.es #section1_1 {
        font-size: 150%;
    }
}
@media (max-width: 414px) {
    /* iPhone 6+ */
    #section1_1 {
        font-size: 210%;
        padding-top: 22px;
    }
    body.en #section1_1 {
        font-size: 140%;
    }
    body.es #section1_1 {
        font-size: 140%;
    }
}
@media (max-width: 375px) {
    /* iPhone 6 */
    #section1_1 {
        font-size: 180%;
        padding-top: 20px;
    }
    body.en #section1_1 {
        font-size: 120%;
    }
    body.es #section1_1 {
        font-size: 120%;
    }
}
@media (max-width: 320px) {
    /* iPhone 5 */
    #section1_1 {
        font-size: 140%;
        padding-top: 15px;
    }
    body.en #section1_1 {
        font-size: 100%;
    }
    body.es #section1_1 {
        font-size: 100%;
    }
    body.en #section1_2 {
        font-size: 70%;
    }
    body.es #section1_2 {
        font-size: 70%;
    }
}

#section1_2 {
    padding-top: 5px;
}

#section1_1 img {
    width: 100%;
}

/* Top menu */
#topMenu {
    width: 100%;
    overflow: hidden;
    background: #90f;
    border-top: 1px solid #dcdcdc;
}

#topMenu a {
    display: block;
    width: 100%;
    background-color: #fff;
    background-image: url(../img/landing/menu.png);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 10px;
    border-bottom: 1px solid #dcdcdc;
    overflow: hidden;
    padding: 15px 20px;
    color: #ff8600;
    text-decoration: none;
    outline: none;
}

/* Section 2 */
#section2 {
    width: 100%;
    overflow: hidden;
}

.section2_item {
    width: 50%;
    float: left;
}

.section2_item img {
    width: 100%;
}

/* Section 3 */
#about {
    overflow: hidden;
}

#about_title {
    width: 100%;
    padding: 8px 0;
    text-align: center;
}

#about_title img {
    height: 40px;
    margin: 0 auto;
    vertical-align: top;
}

#about_title span {
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 120%;
}

#about_content {
    background: #fff;
    padding-bottom: 20px;
    overflow: hidden;
}

#about_1 br,
#about_2 br,
#about_3 br {
    display: none;
}

#about_1 {
    padding: 20px 20px 10px 20px;
    text-align: center;
}

#about_2 {
    background: #ff8600;
    color: #fff;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}

#about_3 {
    padding: 10px 20px;
    text-align: center;
}

#about_4 img {
    width: 100%;
}

#about_5 {
    font-size: 150%;
    text-align: center;
    padding: 20px 0;
    padding-bottom: 0px;
    font-weight: bold;
}

.about_item {
    overflow: hidden;
}

.about_item_txt_1 {
    width: 100%;
    color: #ff8600;
    font-size: 120%;
    padding: 2px 10px;
    padding-top: 20px;
}

.about_item_txt_2 {
    width: 100%;
    font-size: 140%;
    font-weight: bold;
    padding: 2px 10px;
    padding-bottom: 10px;
}

.about_item_img {
    width: 45%;
    padding: 0 10px 0 20px;
    float: left;
}
.about_item_img img {
    width: 100%;
}

.about_item_txt {
    width: 55%;
    padding: 0 20px 0 0;
    float: right;
    font-size: 90%;
}
.about_item_txt br {
    display: none;
}

.about_item_bot .about_item_img {
    float: right;
    padding: 0 20px 0 10px;
}

.about_item_bot .about_item_txt {
    float: left;
    padding: 0 0 0 20px;
}

/* Section 4 */
#section4 {
    padding: 20px 0;
}

#section4 img {
    width: 100%;
}

/* Section 5 */
#section5 {
    position: relative;
    background: #fff;
    overflow: hidden;
}

#section5_container {
    margin: 10px 10px 0 10px;
    padding-bottom: 60px;
    background-color: #dff2fc;
    background-image: url(../img/landing/section5.png);
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 90% auto;
    overflow: hidden;
}

#section5_title {
    width: 100%;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.section5_item {
    width: 100%;
    overflow: hidden;
}
.section5_item_img {
    width: 40%;
    float: left;
    overflow: hidden;
    padding: 0 10px 2px 20px;
}

.section5_item_img img {
    width: 100%;
    vertical-align: top;
}

.section5_item_txt {
    width: 60%;
    float: right;
    overflow: hidden;
}

.section5_item_txt_step {
    display: table;
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
}
.section5_item_txt_step_row {
    display: table-row;
}
.section5_item_txt_step_cell {
    display: table-cell;
    vertical-align: middle;
}
.section5_item_txt_step_cell_img {
    width: 60px;
}
.section5_item_txt_step_cell_img img {
    margin-left: 10px;
    height: 50px;
    width: 50px;
}
.section5_item_txt_step_cell_right {
    width: 20px;
}
.section5_item_txt_step_cell_text {
    background-image: url(../img/landing/step_sp.png);
    background-position: center left;
    background-size: auto 50px;
    background-repeat: repeat-x;
    font-weight: bold;
    font-size: 110%;
    padding-left: 10px;
}
body.en .section5_item_txt_step_cell_text {
    font-size: 90%;
}
body.es .section5_item_txt_step_cell_text {
    font-size: 90%;
}
@media (min-width: 750px) {
    body.en .section5_item_txt_step_cell_text {
        font-size: 110%;
    }
    body.es .section5_item_txt_step_cell_text {
        font-size: 110%;
    }
}

@media (max-width: 440px) {
    /* Nexus 6 */
    body.en .section5_item_txt_step_cell_text {
        font-size: 110%;
    }
    body.es .section5_item_txt_step_cell_text {
        font-size: 110%;
    }
}
@media (max-width: 414px) {
    /* iPhone 6+ */
    body.en .section5_item_txt_step_cell_text {
        font-size: 110%;
    }
    body.es .section5_item_txt_step_cell_text {
        font-size: 110%;
    }
}
@media (max-width: 375px) {
    /* iPhone 6 */
    body.en .section5_item_txt_step_cell_text {
        font-size: 100%;
    }
    body.es .section5_item_txt_step_cell_text {
        font-size: 100%;
    }
}
@media (max-width: 320px) {
    /* iPhone 5 */
    body.en .section5_item_txt_step_cell_text {
        font-size: 90%;
    }
    body.es .section5_item_txt_step_cell_text {
        font-size: 90%;
    }
}

.section5_item_txt_detail {
    padding-right: 20px;
    font-size: 90%;
}
.section5_item_txt_detail br {
    display: none;
}

.section5_item_next {
    text-align: center;
    padding-right: 30px;
    padding-top: 5px;
}

.section5_item_next img {
    vertical-align: top;
    height: 30px;
}

@media (max-width: 435px) {
    /* Nexus 6 */
    #section5_container {
        padding-bottom: 70px;
    }
}
@media (max-width: 414px) {
    /* iPhone 6+ */
    #section5_container {
        padding-bottom: 70px;
    }
}
@media (max-width: 375px) {
    /* iPhone 6 */
    #section5_container {
        padding-bottom: 70px;
    }
}
@media (max-width: 320px) {
    /* iPhone 5 */
    #section5_container {
        padding-bottom: 60px;
    }
}

#section5_bot {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
}

#section5_bot img {
    width: 100%;
}

@media (min-width: 750px) {
    #section5_container {
        padding-bottom: 134px;
    }
    #section5_bot {
        text-align: center;
        background: url(../img/landing/section5_bot_sp_bg.png)  bottom left repeat-x;
    }
    #section5_bot img {
        width: 750px;
        margin: 0 auto;
    }
}

/* Section 6 */
#section6 {
    background: #ee7500;
    overflow: hidden;
}

#section6_container {
    margin: 0 10px 10px 10px;
    background: #fff;
    padding: 20px;
    background-image: url(../img/landing/animal.png);
    background-repeat: no-repeat;
    background-size: 80px auto;
    background-position: bottom right 30px;
}

#section6_title {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}

#section6_1 {
    margin-bottom: 20px;
}

.section6_1_title {
    font-size: 120%;
    font-weight: bold;
    padding: 5px 0;
}

#section6_1_left {
    display: table;
    width: 100%;
}

#section6_1_left .section6_1_text {
    display: table-row;
}

#section6_1_left #section6_1_txt,
#section6_1_left #section6_rank {
    display: table-cell;
    vertical-align: top;
    font-size: 90%;
}

#section6_1_left #section6_1_txt {
    width: 60%;
    padding-right: 5px;
}
#section6_1_left #section6_rank {
    width: 40%;
}

#section6_1_left #section6_rank img {
    width: 100%;
}

.section6_1_text br {
    display: none;
}

.section6_item {
    width: 100%;
    border-top: 5px solid #f6b37f;
}

.section6_item_title {
    width: 100%;
    color: #ff8600;
    line-height: normal;
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    padding: 10px 0;
}

.section6_item_table {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.section6_item_row {
    display: table-row;
}

.section6_item_cell {
    display: table-cell;
    vertical-align: top;
    color: #404040;
}

.section6_item_cell_container {
    overflow: hidden;
    display: table;
}

.section6_item_img {
    display: table-cell;
    width: 40%;
}

.section6_item_detail {
    display: table-cell;
    width: 60%;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 90%;
}

.section6_item_img img {
    width: 100%;
}

.section6_item_cell span {
    display: block;
    padding: 5px 10px 10px 0;
    font-size: 90%;
}
.section6_item_cell span br {
    display: none;
}

.section6_item_row .section6_item_cell:first-child {
    padding-right: 5px;
}
.section6_item_row .section6_item_cell:last-child {
    padding-left: 5px;
}

/* Section 7 */
#social {
    position: relative;
    margin: 20px auto 0 auto;
    overflow: hidden;
    background: #fff;
}

#social_container {
    margin: 10px 10px 0 10px;
    padding-bottom: 70px;
    background-image: url(../img/landing/section7.png);
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: center 10px;
    background-color: #dff2fc;
}

#social_title {
    width: 100%;
    text-align: center;
    color: #404040;
    padding: 0 10px;
}

#social_title_1 {
    font-size: 140%;
    font-weight: bold;
    padding-top: 20px;
}

#social_title_2 {
    padding-top: 17px;
    padding-bottom: 20px;
    font-size: 110%;
}
#social_title_2 br {
    display: none;
}

.social_item {
    margin: 0 20px;
    overflow: hidden;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.5);
}
.social_item_2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social_item_container {
    display: table;
    table-layout: fixed;
}

.social_item_img {
    display: table-cell;
    width: 30%;
    padding-left: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.social_item_detail {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    font-size: 90%;
}

.social_item_img img {
    width: 100%;
}

.social_item_detail br {
    display: none;
}

.social_item_detail_title {
    font-size: 110%;
    font-weight: bold;
    padding: 10px 10px 0 10px;
}

@media (max-width: 435px) {
    /* Nexus 6 */
    #social_container {
        padding-bottom: 100px;
    }
}
@media (max-width: 414px) {
    /* iPhone 6+ */
    #social_container {
        padding-bottom: 90px;
    }
}
@media (max-width: 375px) {
    /* iPhone 6 */
    #social_container {
        padding-bottom: 80px;
    }
}
@media (max-width: 320px) {
    /* iPhone 5 */
    #social_container {
        padding-bottom: 70px;
    }
}

#social_bot {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
}

#social_bot img {
    width: 100%;
}

@media (min-width: 750px) {
    #social_container {
        padding-bottom: 160px;
    }
    #social_bot {
        text-align: center;
        background: url(../img/landing/section7_bot_sp_bg.png)  bottom left repeat-x;
    }
    #social_bot img {
        width: 750px;
        margin: 0 auto;
    }
}

/* Section 8 */
#section8_top {
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 150%;
    padding: 15px 0;
}

#section8 {
    background: #ee7500;
    padding: 10px;
    overflow: hidden;
}

#section8_container {
    background: #fff;
    padding: 30px 10px 30px 20px;
}

#section8_title {
    font-size: 130%;
    font-weight: bold;
}

#section8_1_txt {
    padding-top: 20px;
    font-size: 90%;
}

#section8_txt {
    display: table;
    table-layout: fixed;
}

#section8_2_txt {
    display: table-cell;
    width: 60%;
    vertical-align: top;
    font-size: 90%;
}

#section8_txt_bot {
    display: table-cell;
    width: 40%;
    vertical-align: bottom;
    text-align: center;
    font-size: 90%;
}

#section8_txt_bot img {
    width: 100%;
}

#section8_txt_bot span {
    display: block;
    font-weight: bold;
    font-size: 120%;
}

/* Section 9 */
#contact {
    text-align: center;
    color: #fff;
    padding: 20px;
}

#contact br {
    display: none;
}

#contact div {
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 10px;
}

#section9 {
    background: #fff;
    padding: 20px;
}

#section9_container {
    position: relative;
}

#section9_title {
    text-align: center;
    font-size: 130%;
    font-weight: bold;
}

#section9_detail {
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}
#section9_detail br {
    display: none;
}

#section9 label {
    font-weight: normal;
    font-size: 95%;
}

form input[type="text"] {
    border-radius: 0;
}
form textarea {
    border-radius: 0 !important;
    resize: none;
}

.hints {
    color: #ffa440;
}

.btnLpSendMail {
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    margin: 30px auto 0 auto;
    border-radius: 30px;
    background: #ff8600;
    border: 4px solid #f39800;
    font-size: 120%;
    outline: none !important;
}

/* Footer */
#footer {
    width: 100%;
    text-align: center;
    color: #fff;
    background: #000;
    padding: 10px 0;
}

#moveTop {
    position: fixed;
    bottom: 2px;
    right: 2px;
    display: block;
    width: 50px;
    height: 50px;
    background: #000;
    color: #fff;
    overflow: hidden;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

#moveTop img {
    width: auto;
    height: 20px;
    margin: 0 auto;
    margin-top: 15px;
    vertical-align: top;
}
#moveTop div {
    display: none;
}

#model_loader_wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
}

#model_loader_wrap img {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

/* Thank you */
body.body_lp_thanks #moveTop,
body.body_lp_thanks #footer {
    display: none;
}

body.body_lp_thanks {
    background: #fff;
}

body.body_lp_thanks #section1 {
    background-color: #ff8600;
}

#section1_1_thanks {
    display: table;
    width: 100%;
}

#section1_1_thanks div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #fff;
    height: 155px;
    font-size: 100%;
}

@media (min-width: 750px) {
    #section1_1_thanks div {
        height: 330px;
        font-size: 70%;
    }
}

@media (max-width: 440px) {
    /* Nexus 6 */
    #section1_1_thanks div {
        height: 210px;
    }
}
@media (max-width: 414px) {
    /* iPhone 6+ */
    #section1_1_thanks div {
        height: 200px;
    }
}
@media (max-width: 375px) {
    /* iPhone 6 */
    #section1_1_thanks div {
        height: 180px;
    }
}
@media (max-width: 320px) {
    /* iPhone 5 */
    #section1_1_thanks div {
        height: 155px;
    }
}