@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    font-family:'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', 'Lucida Grande', 'sans-serif';
}

html, body {
    height: 100%;
}

html, .dlgPopoup {
    -ms-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -webkit-transform-origin: top center;
    transform-origin: top center;
}

body {
    color: #3e3a39;
    width: 100%;
    margin: 0 auto;
    background: #f6f7f7;
    
    transform-origin: center center;
}

html#app_page body {
    overflow: hidden;
}
html#app_page body.body_login_active,
html#app_page body.body_users_register {
    overflow: visible;
}

#app_page_container {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border: none;
}

a {
    color: #3E3A39;
    text-decoration: none;
    outline: none !important;
}

a:hover {
    text-decoration: underline;
    color: #3E3A39;
    opacity: 0.8;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* Login Top page *************************************************************/
body {
    background: #ff791f;
}

#lgiTopPanel {
    display: block;
    width: 434px;
    min-width: 434px;
    margin: 0 auto;
    padding: 513px 0 20px 0;
    background-image: url(../img/loginLogo.png);
    background-position: 93px 93px;
    background-repeat: no-repeat;
    background-size: 244px auto;
}

#lgiTopTitle {
    clear: both;
    width: 100%;
    height: 53px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 1.0;
    font-size: 16.8px;
    letter-spacing: 0.045em;
    color: #fff;
    text-align: center;
}

#lgiTopbtns {
    width: 321px;
    margin: 0 0 0 54px;
    padding: 0;
    overflow: hidden;
}

.lgiTopbtn {
    display: block;
    width: 100%;
    height: 58px;
    margin: 0 0 21px 0;
    padding: 0;
    text-align: center;
    line-height: 58px;
    border-radius: 58px;
    background: #fff;
    color: #ff791f;
    font-size: 19px;
    text-decoration: none !important;
    cursor: pointer;
}
body.es .lgiTopbtn {
    font-size: 16px;
}

#lgiTopbtnFacebook {
    background: #2675d7;
    color: #fff;
}

#lgiTopbtnTwitter {
    background: #44baff;
    color: #fff;
}

.lgiTopbtnGuest {
    clear: both;
    display: block;
    width: auto;
    margin-top: 10px;
    padding: 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    line-height: 1.1;
    cursor: pointer;
}

.lgiTopbtnGuest:hover {
    color: #fff;
    opacity: 1;
    transition: none;
    -webkit-transition: none;
}

/* Login Email page ***********************************************************/
.body_login_email {
    background: #fff;
}

#lgiEmailPanel {
    display: block;
    width: 422px;
    margin: 0 auto;
    padding: 0;
}

#lgiEmailError {
    width: 100%;
    height: 365px;
    margin: 0;
    padding: 100px 0 0 0;
    overflow: hidden;
}

#lgiEmailTitle {
    width: 100%;
    min-height: 20px;
    margin: 0 0 20px 0;
    padding: 0;
    color: #fff;
    font-size: 21px;
    line-height: 1.1;
    letter-spacing: 0.09em;
    color: #ff791f;
    text-align: center;
    
    /*color: #ff791f;
    font-size: 21px;
    letter-spacing: 0.09em;
    line-height: 1.1;
    margin: 0 0 20px;
    min-height: 20px;
    padding: 0;
    text-align: center;
    width: 100%;*/
}

#lgiEmailPanel input[type="email"],
#lgiEmailPanel input[type="password"] {
    width: 100%;
    height: 59px;
    margin: 0 0 21px 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
    background: #fff;
    border: 1px solid #ff791f;
    color: #ff791f;
    border-radius: 0;
}

.body_login_email ::-webkit-input-placeholder {
    color: #ff791f;
}
.body_login_email :-moz-placeholder { /* Firefox 18- */
    color: #ff791f;
}
.body_login_email ::-moz-placeholder {  /* Firefox 19+ */
    color: #ff791f;
}
.body_login_email :-ms-input-placeholder {
    color: #ff791f;
}

#lgiEmailBtns {
    clear: both;
    margin: 0 0 20px 0;
    padding: 0;
}

#lgiEmailBtns #lgiEmailBtnRegister,
#lgiEmailBtns #lgiEmailBtnLogin,
#lgiEmailBtns #lgiForgetPasswordBtn,
#lgiEmailBtns #lgiConfirmCodeBtn,
#lgiEmailBtns #lgiResetBtn {
    display: block;
    width: 204px;
    height: 59px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    outline: none;
    float: left;
    text-align: center;
    color: #fff;
    background: #ff791f;
    font-size: 18px;
    line-height: 59px;
    border-radius: 59px;
}

#lgiEmailBtns #lgiEmailBtnLogin {
    float: right;
}

#lgiEmailBtns #lgiEmailBtnRegister:hover,
#lgiEmailBtns #lgiEmailBtnLogin:hover,
#lgiEmailBtns #lgiForgetPasswordBtn:hover,
#lgiEmailBtns #lgiConfirmCodeBtn:hover,
#lgiEmailBtns #lgiResetBtn:hover {
    opacity: 0.8;
    text-decoration: none;
}

/* Login Register page ********************************************************/
.body_users_updateinfo,
.body_users_register {
    background: #fff;
    color: #ff791f;
}

.body_users_updateinfo ::-webkit-input-placeholder,
.body_users_register ::-webkit-input-placeholder {
    color: #ff791f;
    opacity: 1;
}
.body_users_updateinfo :-moz-placeholder,
.body_users_register :-moz-placeholder { /* Firefox 18- */
    color: #ff791f;
    opacity: 1;
}
.body_users_updateinfo ::-moz-placeholder,
.body_users_register ::-moz-placeholder {  /* Firefox 19+ */
    color: #ff791f;
    opacity: 1;
}
.body_users_updateinfo :-ms-input-placeholder,
.body_users_register :-ms-input-placeholder {
    color: #ff791f;
    opacity: 1;
}

#lgiRegisterPanel {
    width: 424px;
    margin: 0 auto;
    padding: 0;
}

#lgiRegisterError {
    width: 100%;
    height: 170px;
    margin: 0;
    padding: 50px 0 0 0;
    overflow: hidden;
}

#lgiRegisterTitle {
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 0 0 79px;
    color: #fff;
    font-size: 21px;
    line-height: 1.2;
    /*letter-spacing: 0.09em;*/
    overflow: hidden;
    color: #ff791f;
}

#lgiRegisterNickname {
    width: 100%;
    height: 59px;
    margin: 0 0 21px 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
    background: #fff;
    border: 1px solid #ff791f;
    color: #ff791f;
    border-radius: 0;
}

.bs-select-hidden.lgiCustomSelectbox {
    display: none;
}
.bootstrap-select.lgiCustomSelectbox {
    width: 100% !important;
    margin-bottom: 21px;
}

.lgiCustomSelectbox button.dropdown-toggle {
    width: 100%;
    height: 59px;
    background-color: #efefef;
    background-image: url(../img/arrowDown2.png) !important;
    background-repeat: no-repeat;
    background-size: 26px auto;
    background-position: right 22px top 23px;
    color: #ff791f;
    border-radius: 0;
    border: none;
    text-align: center;
    border-radius: 6px;
    font-size: 19px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.lgiCustomSelectbox button.dropdown-toggle:focus,
.lgiCustomSelectbox button.dropdown-toggle:active {
    border: none !important;
    outline: none !important;
}

.lgiCustomSelectbox button.dropdown-toggle .caret {
    display: none;
}

.lgiCustomSelectbox button.dropdown-toggle .filter-option {
    text-align: center !important;
}

.lgiCustomSelectbox .dropdown-menu > li > a {
    text-align: center;
    color: #ff791f;
}

.lgiRegisterZipcode {
    margin-bottom: 21px;
    overflow: hidden;
}

#lgiRegisterZipcode1,
#lgiRegisterZipcode2 {
    width: 93px;
    height: 59px;
    text-align: center;
    font-size: 22px;
    background: #fff;
    border: 1px solid #ff791f;
    color: #ff791f;
    border-radius: 0;
    float: right;
}

#lgiRegisterZipcode2 {
    width: 116px;
}

#lgiRegisterZipcodeLabel,
#lgiRegisterZipcodeSeparator {
    width: auto;
    height: 59px;
    margin: 0;
    padding: 0;
    line-height: 63px;
    font-size: 18px;
    float: right;
}

#lgiRegisterZipcodeLabel {
    float: left;
}

#lgiRegisterZipcodeSeparator {
    width: 50px;
    text-align: center;
}
body.es #lgiRegisterZipcodeSeparator {
    width: 25px;
}

.lgiRegisterBtns {
    clear: both;
    text-align: center;
    margin: 1px 0 20px 0;
}

#lgiRegisterBtnNext {
    width: 234px;
    height: 59px;
    margin: 0 auto;
    padding: 0;
    border: none;
    outline: none;
    background: #ff791f;
    color: #fff;
    text-align: center;
    font-size: 19px;
    border-radius: 59px;
}

#lgiRegisterBtnNext:hover {
    opacity: 0.8;
}

#lgiRegisterZipcode1::-webkit-input-placeholder,
#lgiRegisterZipcode2::-webkit-input-placeholder
{
    color: #ffC295;
}

#lgiEmailForgetPassword {
    clear: both;
    text-align: center;
    margin: 25px auto;
    float: left;
    width: 100%;
}

#lgiEmailForgetPassword a {
    color: #ff791f;
}

/* Forget password page / Email confirm code **********************************/
.body_login_forgetpassword,
.body_login_confirmcode,
.body_login_resetpassword {
    background: #fff;
}

.body_login_confirmcode #lgiEmailTitle {
    height: 82px;
}

.body_login_forgetpassword #lgiEmailTitle {
    height: auto;
}

#lgiForgotPassDesc {
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
}

.body_login_forgetpassword #lgiEmailBtns,
.body_login_confirmcode #lgiEmailBtns {
    margin-top: 25px;
    text-align: center;
}

#lgiEmailBtns #lgiForgetPasswordBtn,
#lgiEmailBtns #lgiConfirmCodeBtn,
#lgiEmailBtns #lgiResetBtn {
    margin: 0 auto;
    float: none;
}

#developerLogo {
    width: 150px;
    margin: 10px auto 0 auto;
    vertical-align: top;
}

/* Popup select physical type ------------------------------------------------*/
.wrapPanel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    min-width: 1000px;
    height: 100%;
    background: #3e3a39;
    opacity: 0.9;
    z-index: 7789;
}

#dlgPopupSelectPhysicalType {
    position: fixed;
    display: none;
    width: 400px;
    height: 375px;
    top: 50%;
    left: 50%;
    margin-top: -154px;/* (375 - 66) / 2 */
    margin-left: -200px;
    overflow: visible;
    z-index: 7790;
    -ms-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
html#app_page body.body_users_register #dlgPopupSelectPhysicalType {
    margin-top: -187px;/* 375 / 2 */
}

.dlgPopupSelectPhysicalTypeContent {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.85;
}
.dlgPopupSelectPhysicalTypeTitle {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.dlgPopupSelectPhysicalTypeDetail {
    width: 360px;
    height: 315px;
    margin: 0 20px;
    overflow: hidden;
}

.dlgPopupSelectPhysicalTypeLine1,
.dlgPopupSelectPhysicalTypeLine2,
.dlgPopupSelectPhysicalTypeLine3 {
    display: block;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.dlgPopupSelectPhysicalTypeItem {
    display: block;
    width: 120px;
    height: 105px;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}
.dlgPopupSelectPhysicalTypeItem.on {
    background-color: #111;
}
.dlgPopupSelectPhysicalTypeItem:hover {
    background-color: #3E3A39;
}

.dlgPopupSelectPhysicalTypeItemImage {
    width: 100%;
    height: 67px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 34px;
}

.dlgPopupSelectPhysicalTypeItemName {
    text-align: center;
    font-size: 11px;
    color: #fff;
    line-height: 1.2;
    word-break: normal;
    word-wrap: normal;
}
.dlgPopupSelectPhysicalTypeItem.on .dlgPopupSelectPhysicalTypeItemName {
    color: #f07f00;
}

#dlgPopupSelectPhysicalTypeClose {
    position: absolute;
    top: -14px;
    right: -13px;
    display: block;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    line-height: 32px;
    color: #fff;
    text-align: center;
    border-radius: 32px;
    border: 2px solid #ff791f;
    background-color: #fff;
    background-image: url(../img/x.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    cursor: pointer;
}
#dlgPopupSelectPhysicalTypeClose:hover {
    background-color: #ddd;
}

#lgiRegisterSelectPhysicalType {
    background: #efefef;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #ccc;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    margin: 20px 0;
    padding: 0px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #f07f00;
}

#lgiRegisterSelectPhysicalTypeImage {
    display: inline-block;
    width: 40px;
    height: 60px;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px auto;
    overflow: hidden;
}
#lgiRegisterSelectPhysicalTypeImage.nonPhysicalTypeId {
    display: none;
}

#lgiRegisterSelectPhysicalTypeText {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
}

.dlgPopupSelectPhysicalTypeItem[data-id="1"] .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType1w.png);
}
#lgiRegisterSelectPhysicalTypeImage[data-id="1"],
.dlgPopupSelectPhysicalTypeItem[data-id="1"].on .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType1.png);
}

.dlgPopupSelectPhysicalTypeItem[data-id="5"] .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType7w.png);
}
#lgiRegisterSelectPhysicalTypeImage[data-id="5"],
.dlgPopupSelectPhysicalTypeItem[data-id="5"].on .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType7.png);
}

.dlgPopupSelectPhysicalTypeItem[data-id="6"] .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType8w.png);
}
#lgiRegisterSelectPhysicalTypeImage[data-id="6"],
.dlgPopupSelectPhysicalTypeItem[data-id="6"].on .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType8.png);
}

.dlgPopupSelectPhysicalTypeItem[data-id="2"] .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType5w.png);
}
#lgiRegisterSelectPhysicalTypeImage[data-id="2"],
.dlgPopupSelectPhysicalTypeItem[data-id="2"].on .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType5.png);
}

.dlgPopupSelectPhysicalTypeItem[data-id="7"] .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType3w.png);
}
#lgiRegisterSelectPhysicalTypeImage[data-id="7"],
.dlgPopupSelectPhysicalTypeItem[data-id="7"].on .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType3.png);
}

.dlgPopupSelectPhysicalTypeItem[data-id="8"] .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType4w.png);
}
#lgiRegisterSelectPhysicalTypeImage[data-id="8"],
.dlgPopupSelectPhysicalTypeItem[data-id="8"].on .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType4.png);
}

.dlgPopupSelectPhysicalTypeItem[data-id="3"] .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType6w.png);
}
#lgiRegisterSelectPhysicalTypeImage[data-id="3"],
.dlgPopupSelectPhysicalTypeItem[data-id="3"].on .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType6.png);
}

.dlgPopupSelectPhysicalTypeItem[data-id="4"] .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType2w.png);
}
#lgiRegisterSelectPhysicalTypeImage[data-id="4"],
.dlgPopupSelectPhysicalTypeItem[data-id="4"].on .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType2.png);
}

.dlgPopupSelectPhysicalTypeItem[data-id="99"] .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType9w.png);
}
#lgiRegisterSelectPhysicalTypeImage[data-id="99"],
.dlgPopupSelectPhysicalTypeItem[data-id="99"].on .dlgPopupSelectPhysicalTypeItemImage {
    background-image: url(../img/physicalType9.png);
}

/* Update register info ------------------------------------------------------*/
.container_users_updateinfo #lgiRegisterPanel {
    width: 400px;
}

.container_users_updateinfo .content {
    background: none;
}

.container_users_updateinfo #lgiRegisterError {
    height: auto;
    padding: 0;
}

.container_users_updateinfo #lgiRegisterTitle {
    padding: 0;
    text-align: center;
}

.container_users_updateinfo #lgiRegisterZipcode1 {
    width: 90px;
}
body.es #lgiRegisterZipcode1 {
    width: 65px;
}

.container_users_updateinfo #lgiRegisterZipcode2 {
    width: 110px;
}
body.es #lgiRegisterZipcode2 {
    width: 80px;
}

.container_users_updateinfo .lgiCustomSelectbox button.dropdown-toggle,
.container_users_updateinfo #lgiRegisterSelectPhysicalType {
    background-color: #fff;
}
.container_users_updateinfo #lgiRegisterSelectPhysicalType:hover,
.container_users_updateinfo #lgiRegisterSelectPhysicalType:active {
    background-color: #d4d4d4;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

/* popup */
.dlgPopoup {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    width: 400px;
    height: 300px;
    margin: -150px 0 0 -200px;
    padding: 0;
    overflow: hidden;
    z-index: 7790;
}

/* Login popup rule */
.wrapPanel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    min-width: 1000px;
    height: 100000%;
    background: #3e3a39;
    opacity: 0.9;
    z-index: 7789;
    transform: scale(10);
}

#dlgPopupLoginRule {
    display: none;
    width: 400px;
    height: 650px;
    background: #fff;
    top: 110px;
    margin-top: 0;
    margin-left: -200px;
    overflow: hidden;
}

#dlgPopupLoginRuleTitle {
    width: 100%;
    height: 40px;
    background: #fff;
    color: #ff791f;
    text-align: center;
    line-height: 40px;
}

#dlgPopupLoginRule iframe {
    width: 380px;
    height: 530px;
    margin: 10px;
    border: 1px solid #ccc;
}

#dlgPopupLoginRuleBtn {
    width: 100px;
    height: 40px;
    background: #ff791f;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
}
#dlgPopupLoginRuleBtn:hover {
    background: #e7650e;
}
#lgiEmailPanel input[disabled],
#lgiEmailBtns input[disabled] {
    background: #dddddd !important;
    color: rgb(84, 84, 84) !important;
}
