.plcList1, .plcList2 {
    float: left;
    margin-bottom: 20px;
}
.plcList2 {
    display: none;
}
#plcListTab {
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
}
#plcListTabInner {
    display: inline-block;
    width: auto;
}
#plcListTab a {
    display: inline-block;
    min-width: 200px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    word-spacing: 0;
    text-decoration: none !important;
    line-height: 40px;
    color: #ff791f;
    border: 1px solid #ff791f;
    border-left: none;
    background: #fff;
    padding: 0 20px;
    float: left;
    cursor: pointer;
}
#plcListTab a.active {
    background: #ff791f;
    color: #fff;
}
#plcListTab a:first-child {
    border-left: 1px solid #ff791f;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
#plcListTab a:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.plcListTitle {
    font-size: 150%;
    font-weight: bold;
    background: none;
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    color: #ff791f;
}
.plcItemImage span {
    font-size: 400%;
    color: #fff;
}
.plcItemImage {   
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.plcItem a {
    color: #ff791f;
    cursor: pointer;
}
.plcItem a:hover {    
    text-decoration: none;
}
    