<?php

$dbReadConf = array(
    'db_read' => array(
        // Set one
        //'use' => 'replica1',
        
        // Or more
        'use' => array(
            'replica1',
            //'replica2'
        ),
    )
);
